.ChasoveMain{
    padding-inline: 5vw;
    margin-top: 3vw;
    @media screen and (max-width: 900px) {
        margin-top: 15vw;
    }

    .openingClosing{
        display: grid;
        grid-template-rows: 3rem 3rem 3rem ;
        justify-items: center;
        align-content: flex-start;
        
        h1{
            font-weight: 600;
        }
        
        h2{
            font-weight: 500;
        }

        .opening, .closing{
            display: grid;
            grid-template-columns: 10rem 10rem;
            align-items: center;
            margin-top: 2vw;
            justify-items: center;

            input{
                height: 35px;
                width: 3rem;
                font-size: 1.2rem;
                appearance: textfield;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            appearance: textfield;
            -moz-appearance: textfield;
            }
        }

        button{
        text-align: center;
        margin-top: 8vw;
        background-color: #3fcf8e;
        border: none;
        border-radius: 5px;
        width: 22rem;
        height: 2.5vw;
        @media only screen and (max-width: 900px) {
            margin-top: 10vw;
            width: 60vw;
            height: 7vw;
        }
        font-size: 1rem;
        cursor: pointer;
        
      
        img{
            height: 35px;
            width: auto;
        }
        }
        button:disabled{
            background-color: #cccccc;
            cursor: not-allowed;
        }
    }

    .currentHours{
        display:grid;
        justify-content: center;
        text-align: center;
        margin-top: 5vw;
        h3{
            font-weight: 600;
            margin-bottom: 0vw;
            margin-top: 3vw;
            @media screen and (max-width: 900px) {
                margin-top: 25vw;
            }
        }
        h4{
            margin-top: 0.5vw;
            font-weight: 400;
        }
    }
    
}