.missedMain{
    height: 100vh;
    width: 100%;
    
    h1{
        text-align: center;
        margin-bottom: 5vw;
        font-size: 2.5vw;
        @media only screen and (max-width: 1000px) {
            font-size: 7vw;
          }
    }

    .infoMain{
        margin-left: 10vw;
        margin-right: 10vw;
      @media only screen and (max-width: 900px) {
        margin-left: 2vw;
        margin-right: 2vw;
        
      }
        .infoHeader{
            display: grid;
            grid-template-columns: 15rem 15rem 15rem 5rem;
            justify-content: space-between;

            @media only screen and (max-width: 900px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
              }
            

            h2{
                color: #405770;
                @media only screen and (max-width: 900px) {
                    font-size: 1rem;
                }
                
            }
        }
        
        .info{
            display: grid;
            grid-template-columns: 15rem 15rem 15rem 5rem;
            justify-content: space-between;
            
            @media only screen and (max-width: 900px) {
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;

            
              }
              
            

            button{
                border: none;
                height: 2rem;
                border-radius: 5px;
                background-color: #71d56a;
                cursor: pointer;
                align-self: center;
                
              }
        }
    }
}