/* Tablo.module.scss */
.tabloMain{

  .calendarSelf{
    display: grid;
    justify-content: center;
    margin-top: 10vw;
}

  .header{
        text-align: center;
        margin-top: 3vw;
        margin-bottom: 5vw;
        font-weight: 350;
        @media only screen and (max-width: 900px) {
          margin-top: 5vw;
          margin-bottom: 15vw;
          font-size: 1.7rem;
        }
   }
   .appsAndHours{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-left: 5vw;
    margin-right: 5vw;
    @media only screen and (max-width: 900px) {
      margin-left: 0vw;
      margin-right: 0vw;
    }

    .tabloHours{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      justify-items: end;
      margin-right: 3vw;

      h1{
        font-weight: lighter;
        @media only screen and (max-width: 900px) {
        font-size: 1.6rem;
        font-weight: 350;
        }
      }
    }


    .tabloCards {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 1vw;
      justify-items: start;
      padding: 1vw;
  
        .appointmentCards{
            margin-top: 0;
  
          .appointmentCard {
              background-color: #9bd2ff;
              border-radius: 8px;
              padding-inline: 5%;
              margin-bottom: 1.5vw;
              display: grid;
              grid-template-rows: 1fr;
              width: 60vw;
              @media only screen and (max-width: 900px) {
                width: 75vw;
                p{
                  font-size: 1.1rem;
                }
              }

              .upperRow{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-self: space-between;
                h1{
                    font-size: 1.5rem;
                }
                img{
                 height: 1.8vw;
                  width: 1.8vw;
                  justify-self: end;
                  background: rgb(255, 58, 58);
                  border-radius: 100%;
                  cursor:pointer;
                  @media only screen and (max-width: 900px) {
                    height: 5vw;
                    width: 5vw;
                  }
                } 
                .novChas{
                  background: #3fcf52;
                  padding: 2px;
                }
                .toggle {
                  justify-self: start;
                  
                  .input {
                    display: none;
                  }
                  
                  .label {
                    position: relative;
                    cursor: pointer;
                    display: block;
                    width: 50px;
                    height: 30px;
                    @media only screen and (max-width: 900px) {
                      width: 40px;
                      height: 20px;
                    }
                    background: #fff;
                    border-radius: 50px;
                    transition: 300ms linear;
                
                    &:before {
                      position: absolute;
                      top: 50%;
                      left: 2px;
                      transform: translateY(-50%);
                      content: "";
                      display: block;
                      width: 25px;
                      height: 25px;
                      @media only screen and (max-width: 900px) {
                        width: 15px;
                        height: 15px;
                      }
                      background: #aaa;
                      border-radius: 50%;
                      transition: left 300ms linear;
                    }
                  }
                
                  .input:checked + .label {
                    background: #000;
                
                    &:before {
                      left: 23px;
                    }
                  }
                  }
              }
  
              .lowerRow{
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  align-items: center;
                  justify-self: space-between;
                  .missed {
                      color: red;}
                  button:disabled{
                      background-color: #cccccc;
                      cursor: not-allowed;}
                }
          }
  
          .buttonche{
            border: none;
            height: 1.8rem;
            width: 5rem;
            border-radius: 5px;
            background-color: #ffffff;
            cursor: pointer;
            justify-self: end;}
          
          .missedAppointment {
            background-color: rgb(249, 97, 97);
            }
          .emptyAppointment {
            background-color: #ccc;
            }
      }
    }
   }
 

    .log{
      text-align: center;
    }
}

.contactModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: flex-start;
  width: 35vw;
  height: 40vw;
  background-color: #1c5caa;
  color: white;
  border-radius: 8px;
  z-index: 1000;

  .modalContent{
    & > * {
      margin-top: 1vw;
    }
      display: grid;
      justify-content: center;
      align-content: center;
      height: 100%;

      .nameFam{
        display:grid;
        grid-template-columns: 1fr 1fr;
      }
  
      label{
          font-size: 1.2rem;
          color: white;
      }
  
      input{
          font-size: 0.8rem;
          width: 100%;
          border: none;
          border-bottom: 2.5px solid black;
          background-color: transparent;
          outline: none;
      }

      .firstNameInput{
        width: 75%;
      }

  
      input::placeholder {
        color: #c7ffe2;
      }
      
      select {
          width: 100%;
          margin-top: 5px;
          padding: 7px;
          background-color: #9bd2ff;
          border-radius: 10px;
          cursor: pointer;
          transition: border-color 0.3s, background-color 0.3s;
        }
  
        option[value=""] {
          color: gray; 
        }
  
        button{
          margin-top: 3.5vw;
          padding: 0.7rem;
          border: none;
          border-radius: 5px;
          color:#fff;
          background-color: #3fcf8e;
          cursor: pointer;
          font-weight: bold;
        }
        
        button[disabled] {
          background-color: gray;
          cursor: not-allowed;
        }
  }
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); /* Change opacity to your desired value */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

    .firstName,.lastName{
      display: grid;
      grid-template-rows: 1fr 1fr;
    }

    .lastName{
      justify-content: end;
    }
}