/* Tablo.module.scss */
.tabloMain{

  .calendarSelf{
    display: grid;
    justify-content: center;
    margin-top: 5vw;
}

  .header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3vw;
    margin-bottom: 5vw;


    h1{
      text-align: center;
      font-weight: 350;
      @media only screen and (max-width: 900px) {
        margin-top: 5vw;
        margin-bottom: 15vw;
        font-size: 1.7rem;
      }
   }

    .buttonBack{
      border: none;
      border-radius: 5px;
      background-color: #a4a2a2;
      cursor: pointer;
      height: 40%;
      width: 30%;
      @media only screen and (max-width: 900px) {
        height: 20%;
        width: 60%;
        align-self: center;
        margin-top: -15vw;
      }
      font-size: 0.9rem;
      justify-self: center;
      align-self: center;
    }
  }


   .appsAndHours{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-left: 5vw;
    margin-right: 5vw;
    @media only screen and (max-width: 900px) {
      margin-left: 0vw;
      margin-right: 0vw;
    }

    .tabloHours{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      justify-items: end;
      margin-right: 3vw;

      h1{
        font-weight: lighter;
        @media only screen and (max-width: 900px) {
        font-size: 1.6rem;
        font-weight: 350;
        }
      }
    }

    .tabloCards {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 1vw;
      justify-items: start;
      padding: 1vw;

      .buttonRefresh{
        margin-bottom: 1vw;
        background-color: rgb(0, 225, 116);
        border: none;
        border-radius: 5px;
        padding: 0.5vw;
        padding-right: 1vw;
        padding-left: 1vw;
        cursor: pointer;
      }

      .infoForm{
        z-index: 99;

        .modal, .overlay {
          width: 100vw;
          height: 130vh;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: fixed;
      }
      
      .overlay {
          background: rgba(49,49,49,0.8);
      }
      .modalContent {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          line-height: 1.4;
          background: #f1f1f1;
          padding: 14px 28px;
          border-radius: 3px;
          max-width: 600px;
          min-width: 300px;
      }
      }
  
        .appointmentCards{
            margin-top: 0;
  
          .appointmentCard {
              background-color: #9bd2ff;
              border-radius: 8px;
              padding-inline: 5%;
              margin-bottom: 1.5vw;
              display: grid;
              grid-template-rows: 1fr;
              width: 60vw;
              @media only screen and (max-width: 900px) {
                width: 75vw;
                p{
                  font-size: 1.1rem;
                }
              }

              .upperRow{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-self: space-between;
                h1{
                    font-size: 1.5rem;
                }
                img{
                 height: 1.8vw;
                  width: 1.8vw;
                  justify-self: end;
                  background: rgb(255, 58, 58);
                  border-radius: 100%;
                  cursor:pointer;
                  @media only screen and (max-width: 900px) {
                    height: 5vw;
                    width: 5vw;
                  }
                } 
                .novChas{
                  background: #3fcf52;
                  padding: 2px;
                }
                .toggle {
                  justify-self: start;
                  
                  .input {
                    display: none;
                  }
                  
                  .label {
                    position: relative;
                    cursor: pointer;
                    display: block;
                    width: 50px;
                    height: 30px;
                    @media only screen and (max-width: 900px) {
                      width: 40px;
                      height: 20px;
                    }
                    background: #fff;
                    border-radius: 50px;
                    transition: 300ms linear;
                
                    &:before {
                      position: absolute;
                      top: 50%;
                      left: 2px;
                      transform: translateY(-50%);
                      content: "";
                      display: block;
                      width: 25px;
                      height: 25px;
                      @media only screen and (max-width: 900px) {
                        width: 15px;
                        height: 15px;
                      }
                      background: #aaa;
                      border-radius: 50%;
                      transition: left 300ms linear;
                    }
                  }
                
                  .input:checked + .label {
                    background: #000;
                
                    &:before {
                      left: 23px;
                    }
                  }
                  }
              }
  
              .lowerRow{
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  align-items: center;
                  justify-self: space-between;
                  .missed {
                      color: red;}
                  button:disabled{
                      background-color: #cccccc;
                      cursor: not-allowed;}
                }
          }
  
          .buttonche{
            border: none;
            height: 1.8rem;
            width: 5rem;
            border-radius: 5px;
            background-color: #ffffff;
            cursor: pointer;
            justify-self: end;}
          
          .missedAppointment {
            background-color: rgb(249, 97, 97);
            }
          .emptyAppointment {
            background-color: #ccc;
            }
      }
    }
   }
 

    .log{
      text-align: center;
    }
}