.officeMain{
    display: grid;
    grid-template-columns: 1fr 0px 1fr;
    height: 90vh;

    grid-column-gap: 5vw;
    justify-content: center;

    .vl {
        border-left: 3px solid rgba(0, 136, 169, 1);
        height: 40vw;
        align-self: center;
      }

    .officeTitle{
        justify-self: end;
        align-self: center;
        text-align: center;
        font-size: 3.5vw;
        font-weight: 500;
    }

    .officeRight {
        display: grid;
        justify-self: start;
        align-self: center;
    
        .officeRow{
            display: grid;
            justify-content: center;
            margin-bottom: 1vw;

    
            .officeRowTitle{
                display: grid;
                grid-template-columns: 10rem 10rem;
                justify-items: start;
                align-items: end;
                font-style: italic;

                h1{
                    font-weight: 100;
                    margin-bottom: 0.5vw;
                    margin-top: 0.5vw;
                }
            }
    
            img{
                width: 25vw;
                height: 15vw;
                cursor: pointer;
                margin-top: 0vw;
            }
        }
    }
    
   
}