.officeMain{
    display: grid;
    grid-template-columns: 1fr 0px 1fr;
    height: 90vh;

    grid-column-gap: 5vw;
    justify-content: center;

    @media only screen and (max-width: 900px) {
        grid-template-columns: auto;
        grid-template-rows: 35vw 35vw 35vw;
        height: 180vh;
    }

    .officeTitle{
        justify-self: end;
        align-self: center;
        text-align: center;
        font-size: 3.5vw;
        font-weight: 500;

        @media screen and (max-width: 900px) {
            justify-self: center;
            font-size: 10vw;
            font-weight: 350;
            margin-top: 50vw;
        }
    }

    .vl {
        border-left: 3px solid rgba(0, 136, 169, 1);
        height: 0vw;
        align-self: center;

        @media screen and (max-width: 900px) {
            border-top: 3px solid rgba(0, 136, 169, 1);
            border-left: none;;
            height: 0vw;
            margin-top: 40vw;
        }
      }

    .officeRight {
        display: grid;
        justify-self: start;
        align-self: center;

        @media screen and (max-width: 900px) {
            margin-top: 160vw;
        }
    
        .officeRow{
            display: grid;
            justify-content: center;
            margin-bottom: 1vw;

            @media screen and (max-width: 900px) {
                margin-top: 15vw;
                justify-items: center;
                margin-top: 20vw;
            }

            .officeRowTitle{
                display: grid;
                grid-template-columns: 10rem 10rem;
                justify-items: start;
                align-items: end;
                font-style: italic;

                @media screen and (max-width: 900px) {
                    grid-template-columns: auto;
                    align-items: start;
                    justify-items: center;
                }

                h1{
                    font-weight: 100;
                    margin-bottom: 0.5vw;
                    margin-top: 0.5vw;

                    @media screen and (max-width: 900px) {
                        margin-bottom: -5vw;
                    }
                }
            }
    
            img{
                width: 25vw;
                height: 15vw;
                cursor: pointer;
                margin-top: 0vw;

                @media screen and (max-width: 900px) {
                    width: 90vw;
                    height: 55vw; 
                }
            }
        }
    }
    
   
}