.officeSelectorMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 0.1fr;
    height: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

.officeSelectorTitle{
    // grid-area: 1/1/2/3;
    padding-top: 2rem;
    grid-column: 1 / span 3;
    text-align: center;
}
.officeSelectorButton1{
    // grid-area: 2/1/3/2;
    grid-column-start: -3;
    width: 25rem;
    justify-self: end;
    margin-right: 5rem;
    width: 15rem;
    border-radius: 10px;
}
.officeSelectorButton2{
    // grid-area: 2/2/3/3;
    grid-column-start: -2;
    width: 25rem;
    justify-self: start;
    margin-left: 5rem;
    width: 15rem;
    border-radius: 10px;
}
.buttonTextMain{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.buttonTextSec{
    margin-top: 0;
    margin-bottom: 2rem;
    font-style: italic;
}
}